@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* For debugging the layout */
* {
	/*border: 1px solid red;*/
}

body {
	background-color: #f9f9f9;

	margin: 0px;
	
	font-family: "Open Sans", Sans-Serif;
	font-size: 100%;
}

.container {
	display: grid;
	grid-template-rows: 46px auto auto auto;
	grid-template-areas:
		"header"
		"phone-top"
		"content-row"
		"footer";
	/*height: 100vh;*/
	align-items: baseline;
}

.header {
	grid-area: header;
	padding: 0px 8px;
	
	display: grid;
	grid-template-areas: "menu-left name menu-right";
	grid-template-columns: 36% auto 36%;

	color: #222222;

	background-color: #f9f9f9

	/*border: 1px solid red;*/
}

.name {
	grid-area: name;

	vertical-align: middle;
	text-align: center;

	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 3px;

	line-height: 58px;
}

.name a:hover {
	text-decoration-line: none;
	text-underline-position: unset;
}

.menu {
	font-size: 0.9em;

	line-height: 58px;
	vertical-align: middle;
}

.menu.left {
	grid-area: menu-left;
	
	text-align: left;
}

.menu.right {
	grid-area: menu-right;

	text-align: right;
}

.menu-item {
	padding: 0px 12px;
}

.menu-item.activated {
	text-decoration-line: underline;
	text-underline-position: under;
}

#left-menu-icon {
	display: none;
}

#tools-link {
	display: unset;
}

#tools-icon {
	display: unset;
}

#learning-link {
	display: unset;
}

#learning-icon {
	display: unset;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration-line: underline;
	text-underline-position: under;
}

a:active {
	/* text-underline-position: unset; */
}

.phone {
	background-repeat: no-repeat;

	/*text-align: center;*/
}

.phone img {
	/*vertical-align: bottom;*/
	display: block;

	margin: auto;
}

.phone.top {
	grid-area: phone-top;
	background-position: top;

	border-bottom: 1px solid lightgray;
}

.content-row {
	grid-area: content-row;
	display: grid;

	grid-template-columns: auto auto auto;
	grid-template-areas: ". content .";

	border-top: 1px solid darkgray;
	border-bottom: 1px solid darkgray;
	/* padding: 3px 0px; */

	background-color: #808080;
}

.content {
	grid-area: content;
	
	text-align: center;

	display: grid;

	grid-template-columns: auto auto auto;
  	grid-template-rows: auto auto auto;
  	grid-gap: 3px;

	margin: 0px auto;

  	justify-content: center;
}

.content img {
	display: block;
	
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */

	/*width: 33.333333333333584vw;*/
	
	/*border: 5px solid black;*/

	/*border-radius: 0 5px 0 0;*/
	/*border-top-right-radius: 5px;*/
}

.photo-grid-item {
	/*vertical-align: bottom;*/
	/*display: block;*/
	width: 337px;
}

.footer {
	grid-area: footer;

	padding: 12px 20px;

	border-top: 1px solid lightgray;

	background-color: #f9f9f9;

	text-align: center;

	color: #444444;
	font-size: 0.7em;
	font-weight: bold;
}

.footer a:hover {
	text-decoration: underline;
}

/* Custom Button */

button, .button {
	display: inline-block;
	background-color: Transparent;

	border: 2px solid #262600;
	border-radius: 5px;

	outline: none;

	margin: 12px;
	padding: 10px 20px;

	color: #262600;

	font-size: 24px;
	font-weight: bold;

	cursor: pointer;
}

button:hover, .button:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

button:active, .button:active {
	background-color: rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------------------------------------- */
/* Media Queries */

/* Up to 839px */
@media (max-width: 839px) {
	#about-link {
		display: none;
	}

	#about-icon {
		font-size: 1.4em;
		vertical-align: sub;
	}

	#tools-link {
		display: none;
	}

	#tools-icon {
		display: none;
	}

	#learning-link {
		display: none;
	}

	#learning-icon {
		display: none;
	}

	#left-menu-icon {
		display: unset;
		font-size: 1.4em;
		vertical-align: sub;
	}

	.phone.top {
		/*border-bottom-width: 2px;*/
	}

	.content {
		/*border-top-width: 2px;*/
	}

	.phone img {
		width: 200px;
	}
}