{% load static %}

<div class="header">
	<div class="menu left">
		<a href="{% url 'main:tools' %}" id="header-tools-link" class="menu-item">
			<i id="header-tools-icon" class="fas fa-box-open"></i> <span>TOOLS</span>
		</a>
		<a href="{% url 'main:learning' %}" id="header-learning-link" class="menu-item">
			<i id="header-learning-icon" class="fab fa-leanpub"></i> <span>LEARNING</span>
		</a>
	</div>

	<div class="name">
		<a href="{% url 'main:index' %}" class="menu-item">
			FINA <i class="fas fa-mobile"></i> PHO
		</a>
	</div>

	<div class="menu right">
		<!-- Django version of adding the "activated" class to and removing href from active menu-item. This version needs that this be added to all menu-item instances -->
		<!-- {% url "main:about" as about_url %}
		<a {% if request.get_full_path != about_url %}href="{% url 'main:about' %}"{% endif %} id="header-about-link" class="menu-item {% if request.get_full_path == about_url %}activated{% endif %}"> -->
		<a href="{% url 'main:about' %}" id="header-about-link" class="menu-item">
			<i id="header-about-icon" class="fas fa-info-circle"></i> <span>ABOUT</span>
		</a>

		<a href="#menu-expansion" data-toggle="collapse" aria-controls="menu-expansion" aria-expanded="false" aria-label="Toggle navigation" id="bars-menu-link" class="collapsed menu-item">
			<i id="bars-menu-icon" class="fas fa-bars"></i>
		</a>
	</div>
</div>

<div class="phone-top">
	<img src="{% static 'main/images/phone_top.svg' %}">
</div>

<div id="menu-expansion" class="collapse">
	<div class="menu mobile">
		<a href="{% url 'main:tools' %}" id="mobile-tools-link" class="menu-item">
			<i id="mobile-tools-icon" class="fas fa-box-open"></i> <span>TOOLS</span>
		</a>
		<a href="{% url 'main:learning' %}" id="mobile-learning-link" class="menu-item">
			<i id="mobile-learning-icon" class="fab fa-leanpub"></i> <span>LEARNING</span>
		</a>

		<a href="{% url 'main:about' %}" id="mobile-about-link" class="menu-item">
			<i id="mobile-about-icon" class="fas fa-info-circle"></i> <span>ABOUT</span>
		</a>
	</div>
</div>

<!-- JS version of adding the "activated" class to and removing href from active menu-item instances -->
<script type="text/javascript">
	var menu_items = document.getElementsByClassName("menu-item");

	for (var i = 0; i < menu_items.length; i++) {
		var counter = 0;
		if (menu_items[i].getAttribute("href") === window.location.pathname) {
			menu_items[i].classList.add("activated");
			menu_items[i].removeAttribute("href");
			counter += 1;
		}

		if (counter === 3) {
			break;
		}
	}
</script>