{% extends "main/base_layout.html" %}
{% load static %}

{% block title %}
	Fine Art Phone Photography
{% endblock %}

<!-- Photo Viewer -->
{% block photo_viewer %}
	{% for photo_entry in photo_entries %}
		<div class="modal fade" id="photo-{{ photo_entry.position }}" tabindex="-1" role="dialog" aria-labelledby="photo-{{ photo_entry.position }}" aria-hidden="true">
			<div class="viewer-container">
				<div class="viewer-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
                </div>

				<div class="viewer-photo">
					<img src="{% static 'main/images/photos/' %}{{ photo_entry.photo }}">
				</div>
				
				<div class="viewer-label">
					
				</div>

				<!-- This is just to make the "close" action work (it's display: none)-->
				<div class="modal-dialog"></div>
			</div>
		</div>
	{% endfor %}
{% endblock %}

<!-- Content -->
{% block content %}
	{% for photo_entry in photo_entries %}
		<a href="#photo-{{ photo_entry.position }}" data-toggle="modal">
			<img class="thumbnail" src="{% static 'main/images/thumbnails/' %}{{ photo_entry.thumbnail }}" width="450px">
		</a>
	{% endfor %}
{% endblock %}